@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@font-face {
	font-family: 'montserrat-semibold';
	src: url('../../fonts/montserrat-semibold.eot');
	src: local('☺'), url('../../fonts/montserrat-semibold.woff') format('woff'), url('../../fonts/montserrat-semibold.ttf') format('truetype'), url('../../fonts/montserrat-semibold.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'poppins-semibold';
	src: url('../../fonts/poppins-semibold.eot');
	src: local('☺'), url('../../fonts/poppins-semibold.woff') format('woff'), url('../../fonts/poppins-semibold.ttf') format('truetype'), url('../../fonts/poppins-semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*----------------Миксина для адаптивного шрифта-------*/
$maxWidth: 1810; /*--Ширина макета--*/
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

/*---------@include adaptiv-font(32, 20); Запись миксина-(ширина в макете, ширина на 320px--------------*/

body{
	font-family:Montserrat;
	font-weight: 400;
	min-width: 320px;
}
img{
	max-width: 100%;
	height: auto;
}
section{
	padding: 100px 0;
}
h3{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
}
h4{
	font-family:'montserrat-semibold';
}
.subtitle{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
}
.title{
	font-family:'montserrat-semibold';
	letter-spacing: -0.44px;
}
section{
	@media(max-width: 800px){
			padding: 40px 0;
		}
	@media(max-width: 500px){
		padding: 30px 0;
	}

}

.scrolltop{ /*--Кнопка прокрутки--*/
	position: fixed;
	bottom: 60px;
	right: 50px;
	border-radius: 4px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 32px;
	text-align: center;
	background-color: #f42267;
	color:#fff;
	border-color:#3a2669;
	z-index: 10001;
	transition: all 0.8s ease;
	display: none;
	cursor: pointer;
	&:hover{
		background-color: #fff;
		color:#3a2669;
		border:1px solid #3a2669;
	}
	@media(max-width: 768px){
		opacity: 0.6;
		bottom: 40px;
		right: 30px;
		&:hover{
			opacity: 1;
		}
	}
}




.header{
	background: url('../img/6-layers.jpg') 50% / cover no-repeat;
	min-height: 100vh;
	display: flex;
	&__body{
		flex: 1 1 auto;
		width: 100%;
		padding: 10px 50px 0px;
		display: flex;	
		flex-direction:column;
		@media(max-width: 1000px){
			padding: 10px 20px 0px;
		}
		@media(max-width: 490px){
			padding: 10px 5px 0px;
		}
	}
}
.header__navbar{
	margin-bottom: 50px;
	@media(max-width: 620px){
		margin-bottom: 0;
	}
}
.navbar-toggler{
	color:#fff;
	@include adaptiv-font(32, 20);/*--Запись миксина--*/
}
.navbar-brand{
	color: #ffffff;
	font-size: calc(33px + 9 * ((100vw - 320px) / (1810 - 320)));
	line-height: 43.57px;
	font-family:'montserrat-semibold';
	transition-duration: 0.5s;
	img{
		margin-right: 10px;
		@media(max-width: 500px){
			margin-right: 0px;
		}
	}
}
.navbar-collapse{
	.nav-item{
		margin-right: 10px;
		&:last-child{
			margin-right: 0;
		}
	}
	.nav-link{
	color: #ffffff;
	font-family:'montserrat-semibold';
	font-size: 17px;
	line-height: 18.1px;
	position: relative;
	&:after{
		content:'';
		display: block;
		width: 100%;
		height: 1px;
		position: relative;
		top:2px;
		background-color: #fff;
		transform:scale(0);
		transition: all 0.5s ease 0s;
	}
	&:hover:after{
		transform:scale(1);
		}
	}
}
@media(max-width: 991px){ /*--Только для класса header-*/
	.header .navbar-nav{ 
		position: relative;
		background: -moz-linear-gradient(45deg, #ed1b33 0%, #442e82 100%);
		background: -webkit-linear-gradient(45deg, #ed1b33 0%,#442e82 100%);
		background: linear-gradient(45deg, #ed1b33 0%,#442e82 100%);
		z-index: 1;
		padding: 10px;
	}
}
.header__content{
	color:#fff;
	max-width: 740px;
	margin-left: 10%;
	h3{
		@include adaptiv-font(43, 32);
		line-height: 44.54px;
		margin-bottom: 15px;
	}
	h4{
		@include adaptiv-font(65, 42);
		line-height: 67.23px;
		margin-bottom: 30px;
	}
	p{
		@include adaptiv-font(23, 16);
		line-height: 32.32px;
	}
	@media(max-width: 1100px){
		background-color: rgba(0,0,0,0.3);
		padding: 15px;
		border-radius: 50px 0 50px 0;
		overflow: hidden;
		max-width: 100%;
		margin: 0;
		}
	@media(max-width: 500px){
		h3{
			line-height: 35px;
		}
		h4{
			line-height: 50px;
		}
		p{
			line-height: 24px;
		}
	}

}
.header__text{
	margin-bottom: 50px;
	@media(max-width: 620px){
		margin-bottom: 30px;
	}
}
.header__btn{
	padding-left: 50px;
	@media(max-width: 600px){
		padding: 0;
	}
}
.btn{
		height: 60px;
		padding: 0px 30px;
		color:#fff;
		font-size: 17px;
		line-height: 14.31px;
		text-transform: uppercase;
		font-family:'montserrat-semibold';
		opacity: 0.7;
		box-shadow: 1px 4px 16px rgba(1, 2, 2, 0.35);
		transition: all 0.5s;
		&:hover{
			opacity:1;
		}
		@media(max-width: 620px){
			display: block;
			width: 100%;
		}
	}
.btn-pink{
		background-color:#f42267;
		margin-right: 20px;
			@media(max-width: 620px){
				margin-bottom: 20px;
		}
	}
.btn-violet{
		background-color:#723390;
	}


/*----------------section watch-------*/

.watch{
	background: url('../img/World_Map.png')50%/cover no-repeat;
	.nav{
		.nav-link{
			font-family:'montserrat-semibold';
			@include adaptiv-font(14, 13);
			line-height: 11.07px;
			text-transform: uppercase;
			color: #484848;
			padding: 15px 20px;
			@media(max-width: 450px){
				padding: 8 15px;
			}
		}
		.nav-item{/*Фон активной вкладки*/
			.active{
				box-shadow: 1px 4px 16px rgba(1, 2, 2, 0.35);
				background-color: #f42267;
				color:#fff;
			}
			@media(max-width: 450px){
				width: 100%;
			}
		}
	}
	&__subtitle{
		@include adaptiv-font(33, 25);
		line-height: 34.45px;
		margin-bottom: 10px;
		color: #484848;
	}
	&__title{
		@include adaptiv-font(50, 35);
		line-height: 52px;
		margin-bottom: 20px;
		color: #484848;
	}
	&__tabs{
		margin-bottom: 40px;
		p{
			color: #1d1d1d;
			font-family: Montserrat;
			@include adaptiv-font(14, 12);
			line-height: 25px;
		}
		.tab__link-btn{
			margin-left: 10px;
			@media(max-width: 500px){
				margin-left: 0px;
			}
		}
	}
	@media(max-width: 800px){
			padding: 40px 0;
		}
	@media(max-width: 500px){
		padding: 30px 0;
	}
}


.link-btn{
	box-shadow: 0 10px 0 #ff5990;
	background-color: #f42267;
	color:#fff;
	padding: 8px 20px;
	border-radius: 10px;
	transition: all 0.5s;
	text-decoration: none;
	&:hover{
		box-shadow: 0 5px 0 #ff5990;
		background-color: #d2182e;
		text-decoration: none;
		color:#fff;
		}
	&:active{
		position: relative;
		top:2px;
		left:0;
		}
	@media(max-width: 450px){
		display: block;
		width: 50%;
		text-align: center;
		box-shadow: 0 6px 0 #ff5990;
		&:hover{
			box-shadow: 0 4px 0 #ff5990; 
		}
	}
}



/*----------------section achieve-------*/
.achieve{
	background-color: #4b2d7f;
	padding: 0;
}
.achieve__block_active{
	background-color: #40286a;
}
.container{
	@media(max-width: 768px){
		max-width: 100%;
	}
}

.block{
	padding: 50px;
	color:#fff;
	display: flex;
	flex-direction:column;
	@media(max-width: 768px){
		padding: 20px;
	}
	&__top{
		flex:1 1 auto;
	}
	&__img{
		margin-bottom: 30px;
		@media(max-width: 768px){
			margin-bottom: 15px;
		}
	}
	&__subtitle{
		font-family:'montserrat-semibold';
		@include adaptiv-font(50, 45);
		line-height: 62.38px;
		margin-bottom: 20px;
		@media(max-width: 768px){
			line-height: 30px;
			margin-bottom: 10px;
		}
	}
	&__title{
		font-size: 25px;
		@include adaptiv-font(30, 20);
		@media(max-width: 768px){
			margin-bottom: 10px;
		}
		span{
			@include adaptiv-font(30, 25);		
		}
	}
	&__text{
		opacity: 0.41;
		font-size: 15px;
		line-height: 24px;
	}
}


/*----------------section story-------*/
.story{
	background: url('../img/bgc-story-2.jpg') 50%/cover no-repeat;
	color: #fff;
	&__subtitle{
		@include adaptiv-font(48, 34);
		line-height: 50.25px;
		margin-bottom: 12px;
	}
	&__title{
		@include adaptiv-font(50, 40);
		line-height: 52px;
		margin-bottom: 30px;
		@media(max-width: 500px){
			margin-bottom: 15px;
		}
	}
	&__text{
		@include adaptiv-font(20, 15);
		line-height: 32px;
		margin-bottom: 50px;
		@media(max-width: 800px){
			margin-bottom: 25px;
		}
	}
	@media(max-width: 800px){
		padding: 40px 0;
	}
	@media(max-width: 500px){
		padding: 30px 0;
	}
}



/*----------------section servise-------*/
.servise{
	&__body{
		@media(max-width: 992px){
			margin-bottom: 50px;
		}
		@media(max-width: 500px){
			margin-bottom: 20px;
		}
	}
	&__subtitle{
		@include adaptiv-font(33, 25);
		line-height: 34.45px;
	}
	&__title{
		@include adaptiv-font(50, 35);
		line-height: 52px;
		margin-bottom: 20px;
	}
	&__text{
		@include adaptiv-font(18, 15);
		line-height: 25px;
		margin-bottom: 45px;
		@media(max-width: 768px){
			margin-bottom: 30px;
		}
	}
	@media(max-width: 800px){
		padding: 40px 0;
	}
	@media(max-width: 500px){
		padding: 30px 0;
	}
}

.column{
	display: flex;
	flex-direction:column;
	&__img{
		margin-bottom: 10px;
	}
	&__title{
		@include adaptiv-font(25, 22);
		line-height: 28.92px;
		margin-bottom: 10px;
	}
	&__text{
		flex: 1 1 auto;
		color: #1d1d1d;
		@include adaptiv-font(15, 14);
		line-height: 25px;
		margin-bottom: 40px;
		@media(max-width: 768px){
			margin-bottom: 20px;
		}
	}
	&__btn{
		.link-btn{
			@media(max-width: 768px){
				margin: 0 auto;
			}
		}
		@media(max-width: 768px){
				margin-bottom: 40px;
			}
	}
}

.embed-responsive{ /*Видео*/
	position: relative;
	border-radius: 10px;
}
#videoPlayBtn{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 5;
	cursor: pointer;
	background: url('../img/icon-video.png')50% no-repeat;
}



/*----------------section work-------*/


.work{
	background-color: #f1f1f1;
	&__title{
		@include adaptiv-font(50, 35);
		line-height: 52px;
		margin-bottom: 20px;
	}
	&__text{
		@include adaptiv-font(20, 16);
		line-height: 32px;
		color: #333333;
		margin-bottom: 30px;
	}
	.nav{
		margin-bottom: 70px;
		@media(max-width: 576px){
			margin-bottom: 50px;
		}
	}
	.nav-item{
		padding: 0 15px;
		.active{
			box-shadow: 1px 4px 16px rgba(1, 2, 2, 0.35);
			background-color: #f42267;
			color:#fff;
		}
		@media(max-width: 576px){
			width: 100%;
		}
	}
	.nav-link{
		color: #484848;
		font-family:'montserrat-semibold';
		font-size: 16px;
		line-height: 11.07px;
		text-transform: uppercase;
		padding: 15px 25px;
	}
	.link-btn{
		@media(max-width: 450px){
			margin: 0 auto;
		}
	}
}
.tabs{
	&__gallery{
		img{
			transition: all 0.5s;
			&:hover{ /*Тень картинок при наведении*/
				box-shadow: 0 14px 30px - 15px rgba(0,0,0,0.75);
			}
		}
	}
}
.tabs__column{
	margin-bottom: 30px;
	&:last-child{
		margin-bottom: 0;
	}
}



/*----------------section client------*/
.client{
	background-color: #4b2d7f;
	&__logo{
		padding: 20px;	
	}
}

/*----------------section testimonials------*/
.testimonials{
	background: url('../img/bg-testimonials.png')50%/cover no-repeat;
	padding: 25px 0 0;
	&__carousel{
		color: #fff;
	}
	@media(max-width: 768px){
		padding: 5px 0;
	}
}
.carousel-indicators{
	margin: 0 auto 10px;
	padding:0;
	li{
		background-color:#f42267;
		margin-right: 25px;
		margin-left: 0;
		height: 4px;
		&:last-child{
			margin-right: 0;
		}
	}
	@media(max-width: 768px){
		border-bottom: none;
	}
}

.carousel-item{
	&__body{
		position: relative;
	}
	&__subtitle{
		@include adaptiv-font(41, 30);
		line-height: 79.19px;
		@media(max-width: 768px){
			line-height: 60px;
		}
	}
	&__title{
		@include adaptiv-font(50, 35);
		line-height: 48px;
		margin-bottom: 75px;
		@media(max-width: 768px){
			margin-bottom: 30px;
			line-height: 38px;
		}
	}
	&__comment{
		position: relative;
		padding-left: 50px;
		padding-bottom: 10px;
		@media(max-width: 768px){
				padding-left: 30px;
			}
		p{
			@include adaptiv-font(25, 22);
			font-style: italic;
			margin-bottom: 75px;
			@media(max-width: 768px){
				margin-bottom: 30px;
			}
		}
		img{ /*звездочки*/
			margin-bottom: 25px;
			@media(max-width: 768px){
				margin-left: -50px;
			}
		}
		.blockquote-footer{
			color:#fff;
			@include adaptiv-font(24, 18);
			@media(max-width: 768px){
				margin-left: -50px;
			}
		}
	}
	&__photo{
		padding: 0;
		img{
			width: 100%;
			height: 100%;
			@media(max-width: 960px){
				height: 95%;
				position: absolute;
				bottom: 0;
			}
		}
	}
}
/*стрелочки прокрутки*/
.carousel-control-prev{
	justify-content:flex-start;
	padding-left: 20px;
	@media(max-width: 576px){
		padding-left: 10px;
	}
}
.carousel-control-next{
	justify-content:flex-end;
	padding-right: 20px;
	@media(max-width: 576px){
		padding-right: 10px;
	}
}
.carousel-control-prev-icon,.carousel-control-next-icon{
	width: 25px;
	height: 25px;
}


.carousel-item__comment:before{ /*Ковычки цитаты*/
	content:'\201C';
	font-size: 150px;
	font-weight: 300;
	font-style: italic;
	color:#f42267;
	position: absolute;
	top:-100px;
	left:-20px;
	@media(max-width: 768px){
		font-size: 100px;
		top:-60px;
	}
}

/*----------------section help------*/

.help{
	background: url('../img/bg-form.png') 50%/cover no-repeat;
	&__body{
		color: #fff;
	}
	&__title-top{
		@include adaptiv-font(50, 35);
		line-height: 48px;
	}
	&__title-bottom{
		@include adaptiv-font(30, 23);
		line-height: 48px;
		margin-bottom: 25px;
	}
	&__text{
		@include adaptiv-font(18, 15);
		line-height: 25px;
		margin-bottom: 60px;
	}
}

.form{
	.form-control{
		height: 55px;
		background-color: rgba(255,255,255,0.35);
		border:none;
		margin-bottom: 20px; /*--когда поле сложится на маленьких экранах---*/
		&:focus{
			background-color: #fff;
			box-shadow: 0 0 0 0.2rem rgba(255,255,255,0.25);
		}
	}
	&__btn{
		.btn{
			width: 100%;
			height: 55px;
			font-family:'montserrat-semibold';
			@include adaptiv-font(15, 14);
			line-height: 13.05px;
			text-transform: uppercase;
			background-color:#4b2d7f;
			box-shadow: 0 6px 0 #a57ee9;
			transition: all 0.8s;
			letter-spacing: 1px;
			&:hover{
				box-shadow: 0 2px 0 #a57ee5;
				background-color: #340a7d;
				text-decoration: none;
			}
			&:active{
				position: relative;
				top:2px;
				left:0;
			}
		}
	}
}
.form-control::placeholder{
	color:#fff;
}



/*----------------section social------*/
.social{
	background-color: #4b2d7f;
	padding: 80px 0;
	&__link{
		padding:0px;
		border-right: 1px solid #7647c7;
		&:last-child{
			border-right: none;
		}
		a{
			transition: all 0.8s;
			text-decoration: none;
			@include adaptiv-font(27, 20);
			color: #ffffff;
			&:hover{
				background-color: #7647c7;
			}
		}
		@media(max-width: 576px){
			border:none;
		}
	}
	@media(max-width: 800px){
			padding: 40px 0;
		}
	@media(max-width: 500px){
		padding: 30px 0;
	}
}


/*----------------quick-links------*/

.quick-links{
	background: url('../img/World_Map.png')50%/cover no-repeat;
	&__image{
		margin-bottom: 20px;
	}
	&__column{
		margin-bottom: 50px;
		@media(max-width: 992px){
		margin-bottom: 10px;
		}
	}
}


.column{
	font-family: Poppins;
	&__title{
		@include adaptiv-font(25, 19);
		color: #4b2d7f;
		margin-bottom: 25px;
		@media(max-width: 992px){
		margin-bottom: 15px;
		}
	}
	&__list{
		padding-left: 15px;
		@media(max-width: 992px){
		padding:0;
		}
	}
	@media(max-width: 768px){
		margin-bottom: 20px;
	}
}
.list-unstyled{
	li{
		a{
			transition: all 0.8s;
			color: #000;
			@include adaptiv-font(15, 13);
			&:hover{
			text-decoration: underline;
			}
		}
	}
}





/*----------------footer------*/
.footer{
	background-color: #f6f6f6;
	font-family: Poppins;
	padding: 50px 0;
	.row{
		margin: 0;
	}
	&__list{
		display: flex;
		flex-direction:row;
		justify-content:space-between;
		flex-wrap:wrap;
		li{
			flex:1 1 auto;
			padding:0;
			border: 0;
			background-color: #f6f6f6;
			text-align: center;
			position: relative;/*позиционирование точек разделителей*/
			@media(max-width: 768px){
				flex: 0 1 100%;
			}
			&:after{/*точка разделителей*/
				content: '';
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background-color: #000;
				position: absolute;
				left:-2.5px;
				top:50%;
				transform:translate(0px,-50%);
			}
			&:first-child:after{
				display: none;
			}
			@media(max-width: 768px){
			&:after{/*точка разделителей*/
				display: none;
				}
			}
		}
		a,span{
			padding: 5px 10px;
			color: #000;
			text-decoration: none;
			@include adaptiv-font(18, 15);
			line-height: 25px;
			display: block;
			transition: all 0.8s;
		}
		a:hover{
				color: #7647c7;
			}
	}
		@media(max-width: 768px){
		padding: 30px 0;
	}
	@media(max-width: 576px){
		padding: 20px 0;
	}
}




/*----------------Blog------*/

.header-blog{
	.navbar-brand, .navbar-toggler{
		transition:all 0.8s;
		&:hover{
			color: #f42267;
		}
	}
	.nav-link{
		transition:all 0.8s;
		&:hover{
			color:#f42267;
		}
		&:hover:after{
			background-color: #f42267;
		}
	}
}

/*----------------Blog-content------*/

.blog-content{
	padding: 40px 0;
	@media(max-width: 576px){
		padding: 20px 0;
	}
}
.article{
	border: 1px solid #ccc;
	padding: 20px;
	margin-bottom: 20px;
	transition:all 0.8s;
	position: relative;
	&:last-child{
		margin-bottom: 0;
	}
	&__title{
		@include adaptiv-font(32, 23);
	}
	&__date{
		margin-bottom: 10px;
		span{
			@include adaptiv-font(15, 13);
			color:#f42267;
			font-weight: 600;
		}
	}
	&__exerpt{
		margin-bottom: 20px;
		@media(max-width: 576px){
		.article__image{
			position: relative;
			padding: 0 0 70% 0;
			margin-bottom: 15px;
		}
		.thumb{
			width: 100%;
			height: 100%;
			object-fit:cover;
			position: absolute;
			left: 0;
			top:0;
			padding: 0 15px;
			}
		}
		.article__text{
			margin-bottom: 15px;
		}
	}
	&__body{
		display: flex;
		flex-direction:column;
	}
	&__text{
		flex:1 1 auto;
		@include adaptiv-font(18, 15);
	}
	&__btn{
		width: 100px;
		padding: 5px;
		border-radius: 5px;
		background-color: #007bff;
		transition:all 0.8s;
		a{
			color: #fff;
		}
	}
	&:hover{
		box-shadow: 0 14px 30px -15px rgba(0,0,0,0.75);
		.article__title{
			a{
				transition:all 0.8s;
				color:#f42267;
				text-decoration: none;
			}
		}
		.article__btn{
			background-color: #f42267;
		}
	}
}

.sidebar{
	&__title{
		@include adaptiv-font(25, 19);
		margin-bottom: 10px;
		position: relative;
		&:after{
			content: '';
			height: 2px;
			width: 100%;
			background-color: #007bff;
			position: absolute;
			left:0;
			bottom: 0;
		}
	}
	.list-group-item{
		@include adaptiv-font(18, 15);
		transition:all 0.8s;
		&:hover{
			background-color: #f42267;
			color:#fff;
			border-color: #f42267;
		}
	}
}


.pagination{
	.page-link{
		padding: 10 20px;
		@include adaptiv-font(18, 15);
		transition:all 0.8s;
		&:hover{
			background-color: #f42267;
			color:#fff;
			border-color: #f42267;
		}
	}
}

/*----------------Single article-----*/

.single__exerpt{
	@include adaptiv-font(18, 15);
		.thumb{
			float: left;
			margin-right: 20px;
			@media(max-width: 768px){
				float: none;
				width: 100%;
				}
			}
	}